* {
    margin: 0;
    padding: 0;
    
}

.sidebar {
    background-color: rgb(0, 183, 255);
    width: 20vw;
}

.main {
    background-color: rgb(255, 245, 231);
    width: 80vw;
}

.container {
    display: flex;
}

body {

    background-color: rgb(43, 33, 33);
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Code Pro', monospace;


}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 30px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
}

.firstSection > div {
    width: 30%;
    
}

.leftSection {
    /* background-color: blueviolet; */
    
    font-size: 3rem;
}

.rightSection img {
    width: 100%;
    margin: 50px 0;
}